---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'xx', text: 'XX' },
]
---

<PageLayout title='About' info='/about'>
  <p>
    Our work aims to advance multimodal artificial intelligence, with a focus on developing
    machine learning models that integrate vision, language, and other modalities to achieve
    super intelligence. By pushing the boundaries of how AI models perceive, reason, and interact
    across diverse data types, we aim to build generalizable and trustworthy AI agents that can
    operate safely and reliably in the unpredictable world.
  </p>

  <p>
    This project is led by Prof. <a href='https://kaiyangzhou.github.io/' target='_blank'>Kaiyang Zhou</a>
    at Hong Kong Baptist University.
  </p>
</PageLayout>
